.textall{
    flex: 1;
    width: 100%;
    /*background: white;*/
    display: flex;
    flex-flow: column nowrap;


}

#textmb{
    height: 320px;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 20px;
    border-bottom: #313131 1px solid;
    margin-left: 20px;
}

#textmb1{
    height: 260px;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20px;
    /*position: relative;*/
    /*top: 260px;*/
}


.texttx{
    height: 50px;
    width: 50px;
    background-image: url(../img/tx1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.textnr{
    height: 245px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 40px;
}

.textname{
    height: 25px;
    width: 50px;
    color: cornflowerblue;
    font-size: 15px;
    font-weight: 800;
}

.textwold{
    height: 25px;
    color: black;
    font-size: 15px;

}

.textpic{
    height: 100px;
    max-height: 100px;
    max-width: 200px;

    min-height: 50px;
    min-width: 50px;
    background-image: url(../img/8-1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.texttime{
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.textstarttime{
    width: 100px;
    color: gray;
    font-size: 12px;
    line-height: 25px;
}
.lianjie{
    width: 25px;
    background-image: url(../img/消息.svg);
    background-size: 80%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.textlike{
    height: 25px;
    display: flex;
}

.textxin{
    width: 20px;
    background-image: url(../img/赞.svg);
    background-size: 80%;
    background-position: right;
    background-repeat: no-repeat;

}

.textpeople{

    color: cornflowerblue;
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
}

#text{
    flex: 1;
    width: 100%;
    flex-flow: column nowrap;
    overflow-y: scroll;
}
