#text{
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    background-color: gainsboro;
}

.sousuo{
    width: 100%;
    height: 30px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.sousuodk{
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
}

.sousuok{
    height: 22px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.sousuo-center{
    width: 60px;
    height: 32px;
    display: flex;
    flex-flow: row nowrap;
}

.sousuohao{
    height: 32px;
    width: 20px;
    background-image: url(../img/搜索.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.sousuozi{
    flex: 1;
    height: 32px;
    color: #707070;
    font-size: 14px;
    padding-top: 5px;
    line-height: 22px;
}

.sousuoyuyin{
    height: 22px;
    width: 20px;
    background-image: url(../img/语音.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.xiaoxi{
    width: 98%;
    height: 41px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 10px;
    align-items: center;
    justify-content: right;
    border-bottom: 1px grey solid;
}

.xiaoxitx{
    height: 30px;
    width: 30px;
    background-image: url(../img/新的朋友.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx1{
    height: 30px;
    width: 30px;
    background-image: url(../img/群聊.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx2{
    height: 30px;
    width: 30px;
    background-color: #2336b0;
    background-image: url(../img/标签.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx3{
    height: 30px;
    width: 30px;
    background-color: #2336b0;
    background-image: url(../img/公众号.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx4{
    height: 30px;
    width: 30px;
    background-image: url(../img/tx4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx5{
    height: 30px;
    width: 30px;
    background-image: url(../img/tx3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx6{
    height: 30px;
    width: 30px;
    background-image: url(../img/tx2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxitx7{
     height: 30px;
     width: 30px;
     background-image: url(../img/tx1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border-radius: 5px;
 }

.xiaoxitx8{
    height: 30px;
    width: 30px;
    background-image: url(../img/tx5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.xiaoxinr{
    height: 30px;
    flex: 1;
    color: black;
    font-size:14px;
    line-height: 30px;
    padding-left: 10px ;
}

.xiaoxi1{
    width: 98%;
    height: 15px;
    background-color:gainsboro;
    color: #707070;
    font-size: 12px;
    margin-left: 10px;
    justify-content: right;
}

.foundname{
    height:450px;
    width: 18px;
    display: flex;
    right: 0px;
    top: 115px;
    position: fixed;
    flex-flow: column nowrap;
}

.foundname-sousuo{
    height: 16px;
    width: 16px;
    background-image: url(../img/搜索.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.foundname-word{
    flex: 1;
    color: black;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    padding-left: 4px;
    word-wrap: break-word;
    letter-spacing: 4px;
}