#head{
    height: 40px;
    width: 100%;
    background-color: #313131;
    display: flex;
    flex-flow: row nowrap;
}

.head-left{
    flex: 1;
    height: 40px;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-left: 80px;
}


.head-right{
    height: 40px;
    width: 80px;
    background-image: url(../img/加.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    position: relative;
    margin-right: -20px;
}

.head-bottom{
    height:200px;
    width: 140px;
    background-color: #313131;
    z-index: 1;
    position: absolute;
    top:70px;
    right: 30px;
    display: none;
}

.head-nr{
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    width: 90%;
    border-bottom: #707070 1px solid;
    margin-left: 5px;
    position: center;
}

.head-nr-left{
    height: 50px;
    width: 50px;
    background-size: 50%;
    background-image: url(../img/发起群聊.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.head-nr-left1{
    height: 50px;
    width: 50px;
    background-size: 50%;
    background-image: url(../img/添加朋友.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.head-nr-left2{
    height: 50px;
    width: 50px;
    background-size: 50%;
    background-image: url(../img/扫一扫.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.head-nr-left3{
    height: 50px;
    width: 50px;
    background-size: 50%;
    background-image: url(../img/收付款.svg);
    background-repeat: no-repeat;
    background-position: center;
}




.head-nr-right{
    flex: 1;
    height: 50px;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 40px;
}

